# Example Config File for Mirrors
# Copy config.ini.example and load it in via mirrors -c <filename>
# Settings may be changed by the user during run time and written out to the config file.
# Errors in the config file will prevent repo from being loaded on startup.

# Global Config Values. Must be named DEFAULT
[DEFAULT]
# Max number of rsyncs to be running at any given time: Required
async_processes = 4

# Location of log file: Optional
log_file = ./mirrors.log

# Name of Repo: Required
# Repos are access via this name in the repl
# This names also dictate what folder the synced files go into
# Name conflicts will result in the repo failing to load
[test1]

# Rsync source of the repo: Required
source = rsync://mirrors.rit.edu/FreeBSD

# Arguments for source rsync: Required
# Arguments must be valid rsync args, precede with dashes when necessary.
rsync_args = -avhz

# Destination of the source rsync. Optional
# default is ./distros/
# assuming a sync with a default destination it would put a repo called repo in ./distros/repo/
destination = ./distros/

# Weight of the repo sync in the priority queue: Optional
# Valid values are between -10 and 10. -10 being the highest priority and 10 being the lowest
# Default value is 0
weight = 0

# shell command or script to run before a sync is started: Optional
pre_command =

# shell command or script to run after a sync has finished: Optional
post_command =

# Individual log file
log_file = ./log/LDP.log

# Time after a completed sync before attempting a new sync: Either async_sleep or hourly_sync is required, not both. Remove comment of desired setting
# This does not denote when a sync will start, only when it may start. For strict running times use hourly_sync
# use m to denote minutes or h to denote hours
# Either async_sleep or hourly_sync is required, not both. Remove comment of desired setting
#async_sleep = 2h

# Strict time schedule for repos to be synced: Either async_sleep or hourly_sync is required, not both. Remove comment of desired setting
# list the hours separated by a comma a sync must happen on. Use a '.' to denote partial hours. ex. 0.5 for 12:30 or 0.25 for 12:15
# Example will sync at 12midnight, 6:30am 12noon, 6:30pm
#hourly_sync = 0,6.5,12,18.5
